@model List<Common.article>
@{
    ViewBag.Title = "Slacker News - when reading hacker news is just too much";
}

<h2>Highest scoring stories submitted in the past 24 hours</h2>
@if (Model != null && Model.Any())
{
    <div style="overflow-x: auto">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Score</th>
                    <th>Title</th>
                    <th>Created</th>
                    <th>Tags</th>
                    <th>Summary</th>
                    <th>Top Comment</th>
                </tr>
            </thead>
            @foreach (var a in Model)
            {
                <tr>
                    <td><a href="https://news.ycombinator.com/item?id=@a.hn_article_id">@a.score</a></td>
                    <td><a href="@a.url">@a.title</a></td>
                    <td>@a.GetFormattedTimeSinceCreated()</td>
                    <td>@a.tags</td>
                    <td>@a.semantic_summary</td>
                    <td>@a.top_comment_text</td>
                </tr>
            }
        </table>
    </div>
}