@model Common.article

<div class="news">
    <div class="news-left text-right">
        <a href="@Model.GetCommentsUrl()">
            @Model.score pts<br />@Model.GetFormattedTimeSinceCreated()
        </a>
    </div>
    <div class="news-body">
        <a href="@Model.GetUrl()">@Model.title</a>
    </div>
</div>